
<footer id="footer">
  <div class="footer-last">
    <div class="row clearfix">
      <span class="copyright">© 2014 by <a href="http://digitalunderground.audio/">DigitalUnderground Audio</a>. All Rights Reserved. Powered by <a href="http://jujucharms.com">Juju</a>.</span>
      <div id="toTop"><i class="icon-angle-up"></i></div><!-- Back to top -->
      <div class="foot-menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/mix">Mix</a></li>
          <li><a href="/videos">Videos</a></li>
          <li><a href="/reviews">Reviews</a></li>
        </ul><!-- end links -->
      </div><!-- end foot menu -->
    </div><!-- row -->
  </div><!-- end last -->

</footer><!-- end footer -->
