<div class="search">
    <form action="search.html" id="search" method="get">
      <input id="inputhead" name="search" type="text" onfocus="if (this.value=='Start Searching...') this.value = '';" onblur="if (this.value=='') this.value = 'Start Searching...';" value="Start Searching..." placeholder="Start Searching ...">
      <button type="submit"><i class="icon-search"></i></button>
    </form><!-- end form -->
  </div><!-- search -->
