<h1>Featured Videos</h1>

<div class="video-grid">
  <% @videos.each do |video| %>
    <%= link_to video, class: "grid_3" do %>
    <% v = VideoInfo.new(video.link) %>
      <img src="<%= v.thumbnail_medium %>">
      <span><strong><%= v.title %></span>
    <% end %>
  <% end %>

<br>
