<div class="row row-fluid clearfix mbf">
  <div class="span8">
    <%= render "layouts/home/news" %>
  </div><!-- span8 news -->

  <div class="span4"> <!-- Sidebar -->
    <%= render "layouts/home/timer" %>
    <%= render "layouts/home/videos" %>

  </div><!-- span4 sidebar -->
</div><!-- row clearfix -->
