<header id="header" class="glue">
  <div class="row clearfix">
    <div class="little-head">
      <!-- <div id="Login_PopUp_Link" class="sign-btn tbutton small"><span>Sign In</span></div> -->

      <div class="social social-head">
        <a href="http://twitter.com/" class="bottomtip" title="Follow us on Twitter" target="_blank"><i class="icon-twitter"></i></a>
        <a href="http://fb.com/" class="bottomtip" title="Like us on Facebook" target="_blank"><i class="icon-facebook"></i></a>
        <a href="https://plus.google.com/" class="bottomtip" title="GooglePlus" target="_blank"><i class="icon-google-plus"></i></a>
        <a href="http://instagram.com/" class="bottomtip" title="instagram" target="_blank"><i class="icon-instagram"></i></a>
        <a href="https://soundcloud.com/" class="bottomtip" title="Soundcloud" target="_blank"><i class="icon-cloud"></i></a>
        <a href="http://youtube.com/" class="bottomtip" target="_blank" title="YouTube"><i class="icon-youtube-play"></i></a>
        <a href="http://flickr.com/" class="bottomtip" target="_blank" title="Flickr"><i class="icon-flickr"></i></a>
      </div><!-- end social -->

      <!-- search -->
    </div><!-- little head -->
  </div><!-- row -->

  <div class="headdown">
    <div class="row clearfix">
      <div class="logo bottomtip" title="The Digital Underground - Where Djs Thrive">
        <a href="/"><img src="/images/logo.png" alt="Digital Underground Audio - Where Djs Thrive"></a>
      </div><!-- end logo -->

      <nav>
        <ul class="sf-menu">
          <li class="current selectedLava"><a href="/">Home<span class="sub">start here</span></a></li>
          <li><a href="/reviews">Videos<span class="sub">Better than MTV</span></a></li>
          <li><a href="/mix">Mix<span class="sub">Featured Sets</span></a></li>
          <li><a href="/talent">DJ's<span class="sub">The Talent Pool</span></a>
            <!-- <ul>
            <li><a href="gallery4.html">Gallery 4 Column</a></li>
            <li><a href="gallery3.html">Gallery 3 Column</a></li>
            <li><a href="gallery2.html">Gallery 2 Column</a></li>
          </ul> -->
        </li>
        <!-- <li><a href="/reviews">Reviews<span class="sub">Read DJ Reviews</span></a></li> -->
      </ul><!-- end menu -->
    </nav><!-- end nav -->
  </div><!-- row -->
</div><!-- headdown -->
</header><!-- end header -->
