<!-- Start Revolution Slider -->
<div class="sliderr">
  <div class="tp-banner-container">
    <div class="tp-banner" >
      <ul>
        <!-- SLIDE  -->
        <li data-transition="random" data-slotamount="7" data-masterspeed="5000" >
          <!-- MAIN IMAGE -->
          <img src="images/slides/van-buuren.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
          <!-- LAYERS -->
          <div class="tp-caption fade"
          data-x="566"
          data-y="306"
          data-hoffset="0"
          data-speed="700"
          data-start="800"
          data-easing="Back.easeInOut"
          data-endspeed="300"
          style="z-index: 11"><img src="images/slides/slide1-cap1.png" alt=""></div>

          <div class="tp-caption lfb"
          data-x="566"
          data-y="305"
          data-hoffset="0"
          data-speed="700"
          data-start="1200"
          data-easing="Back.easeInOut"
          data-endspeed="300"
          style="z-index: 11"><img src="images/slides/slide1-cap2.png" alt=""></div>

          <div class="tp-caption lft"
          data-x="741"
          data-y="305"
          data-hoffset="0"
          data-speed="700"
          data-start="1200"
          data-easing="Back.easeInOut"
          data-endspeed="300"
          style="z-index: 11"><img src="images/slides/slide1-cap3.png" alt=""></div>

          <div class="tp-caption lfb"
          data-x="711"
          data-y="374"
          data-hoffset="0"
          data-speed="700"
          data-start="2000"
          data-easing="Back.easeInOut"
          data-endspeed="300"
          style="z-index: 11"><img src="images/slides/slide1-cap4.png" alt=""></div>

          <div class="tp-caption lft"
          data-x="714"
          data-y="374"
          data-hoffset="0"
          data-speed="700"
          data-start="2000"
          data-easing="Back.easeInOut"
          data-endspeed="300"
          style="z-index: 11"><img src="images/slides/slide1-cap5.png" alt=""></div>

          <div class="tp-caption modern_big_bluebg randomrotate"
          data-x="603"
          data-y="484"
          data-hoffset="0"
          data-speed="700"
          data-start="1200"
          data-easing="Back.easeInOut"
          data-endspeed="300"
          style="z-index: 11">A DJ Genesis Exclusive Mix</div>
        </li>

        <!-- SLIDE  -->
        <li data-transition="random" data-slotamount="7" data-masterspeed="5000" >
          <!-- MAIN IMAGE -->
          <img src="images/slides/turntables-with-phones.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
          <!-- LAYERS -->
          <div class="tp-caption modern_big_bluebg randomrotate"
          data-x="603"
          data-y="384"
          data-hoffset="0"
          data-speed="700"
          data-start="1200"
          data-easing="Back.easeInOut"
          data-endspeed="300"
          style="z-index: 11">Audiophiles rejoyce</div>

          <div class="tp-caption modern_big_redbg randomrotate"
          data-x="701"
          data-y="328"
          data-hoffset="0"
          data-speed="700"
          data-start="1700"
          data-easing="Back.easeInOut"
          data-endspeed="300"
          style="z-index: 11">Bringing you the best music from around the globe</div>
        </li>

        <!-- SLIDE  -->
        <li data-transition="random" data-slotamount="7" data-masterspeed="5000" >
          <!-- MAIN IMAGE -->
          <img src="images/slides/hercules.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
          <!-- LAYERS -->
          <div class="tp-caption modern_big_redbg randomrotate"
          data-x="560"
          data-y="253"
          data-hoffset="0"
          data-speed="700"
          data-start="1000"
          data-easing="Back.easeInOut"
          data-endspeed="300"
          style="z-index: 11">Digital Underground Audio</div>

          <div class="tp-caption modern_m_bluebg randomrotate"
          data-x="560"
          data-y="310"
          data-hoffset="0"
          data-speed="700"
          data-start="1500"
          data-easing="Back.easeInOut"
          data-endspeed="300"
          style="z-index: 11">Created by DJ's</div>

          <div class="tp-caption modern_m_bluebg randomrotate"
          data-x="560"
          data-y="355"
          data-hoffset="0"
          data-speed="700"
          data-start="2000"
          data-easing="Back.easeInOut"
          data-endspeed="300"
          style="z-index: 11">Exclusive Releases</div>

          <div class="tp-caption modern_m_bluebg randomrotate"
          data-x="560"
          data-y="400"
          data-hoffset="0"
          data-speed="700"
          data-start="2500"
          data-easing="Back.easeInOut"
          data-endspeed="300"
          style="z-index: 11">No Ads</div>

          <div class="tp-caption modern_m_bluebg randomrotate"
          data-x="560"
          data-y="445"
          data-hoffset="0"
          data-speed="700"
          data-start="3000"
          data-easing="Back.easeInOut"
          data-endspeed="300"
          style="z-index: 11">and Much More ...</div>
        </li>

      </ul><!-- End Slides -->
      <div class="tp-bannertimer"></div>
    </div>
  </div>
</div>
<!-- End Revolution Slider -->
