<div class="def-block">
  <h4> Latest News </h4><span class="liner"></span>

  <% @news.each do |article| %>
  <div class="news row-fluid animtt" data-gen="fadeUp" style="opacity:0;">
    <div class="span5"><img class="four-radius" src="<%= article.image %>" alt="#"></div>
    <div class="span7">
      <h3 class="news-title"><%= article.title %></a> </h3>
      <p><%= article.content %></p>
      <div class="meta">
        <span> <i class="icon-time mi"></i><%= article.created_at.strftime("%B %d, %Y %I:%M %p") %> </span> | <span> <a href="#"><i class="icon-comments-alt"></i> 0</a> </span>
      </div>
      <!-- <a href="news_single.html" class="sign-btn tbutton small"><span>Read More</span></a> -->
    </div>
  </div>
  <% end %>

  <div class="load-news tac"><a href="#" class="tbutton small"><span>Load More</span></a></div>
</div><!-- def block -->
