<div class="def-block widget animtt" data-gen="fadeUp" style="opacity:0;">
  <h4> Popular Tracks </h4><span class="liner"></span>
  <div class="widget-content row-fluid">
    <div class="scroll-mp3" style="height: 220px;">
      <div class="content">
        <ul class="tab-content-items">
          <li class="clearfix">
            <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/thumb-mp3-1.jpg" alt="#"></a>
            <h3><a href="mp3_single_half.html">Don’t go mary ( Remix )</a></h3>
            <span> Alexander </span>
            <span> 1,892,250 Plays </span>
          </li>
          <li class="clearfix">
            <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/thumb-mp3-2.jpg" alt="#"></a>
            <h3><a href="mp3_single_half.html">That's My Kind Of Night </a></h3>
            <span> Alexander Mikoole </span>
            <span> 998,879 Plays </span>
          </li>
          <li class="clearfix">
            <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/thumb-mp3-3.jpg" alt="#"></a>
            <h3><a href="mp3_single_half.html">Magna Carta... Holy Grail </a></h3>
            <span> Joe </span>
            <span> 792,240 Plays </span>
          </li>
          <li class="clearfix">
            <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/thumb-mp3-4.jpg" alt="#"></a>
            <h3><a href="mp3_single_half.html">If you love me</a></h3>
            <span> Enrique </span>
            <span> 788,471 Plays </span>
          </li>
          <li class="clearfix">
            <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/thumb-mp3-5.jpg" alt="#"></a>
            <h3><a href="mp3_single_half.html">Burning For you</a></h3>
            <span> Lura </span>
            <span> 710,105 Plays </span>
          </li>
          <li class="clearfix">
            <a class="m-thumbnail" href="mp3_single_half.html"><img width="50" height="50" src="images/assets/thumb-mp3-6.jpg" alt="#"></a>
            <h3><a href="mp3_single_half.html">Skyfool ( Dubstep Remix )</a></h3>
            <span> Babel </span>
            <span> 611,748 Plays </span>
          </li>
        </ul>
      </div>
    </div>
  </div><!-- widget content -->
</div><!-- def block widget popular items -->
