<div class="def-block widget animtt" data-gen="fadeUp" style="opacity:0;">
  <h4> Event </h4><span class="liner"></span>
  <div class="widget-content row-fluid">
    <div class="grid_8">
      <p class="event-titlett"><strong>Official Site Launch Party</strong></p>
    </div>
    <div class="grid_4">
      <!-- <a href="#" class="tbutton buy-ticket small"><span>Buy Ticket</span></a> -->
    </div>
    <div class="span12 mb">
      <ul id="event1" class="event-timer">
        <li>
          <span class="days">00</span>
          <p class="timeRefDays">days</p>
        </li>
        <li>
          <span class="hours">00</span>
          <p class="timeRefHours">hours</p>
        </li>
        <li>
          <span class="minutes">00</span>
          <p class="timeRefMinutes">min</p>
        </li>
        <li>
          <span class="seconds">00</span>
          <p class="timeRefSeconds">sec</p>
        </li>
      </ul> <!-- end timer -->
    </div><!-- timer -->




  </div><!-- widget content -->
</div><!-- def block widget events -->
